---
const { frontmatter } = Astro.props;
---
<html>
  <!-- ... -->
  <h1>{frontmatter.title}</h1>
  <h2>Autor del artículo: {frontmatter.author}</h2>
  <p>{frontmatter.description}</p>
  <slot /> <!-- Aquí se inyecta el contenido Markdown -->
   <!-- ... -->
</html>